USE [master]
GO
/****** Object:  Database [BANK]    Script Date: 1/12/2016 12:58:14 PM ******/
CREATE DATABASE [BANK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BANK.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BANK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BANK_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANK]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[AccountID] [int] NOT NULL,
	[AccountNumber] [char](9) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AccountTypeID] [int] NOT NULL,
	[DateOpened] [date] NOT NULL,
	[InitialBalance] [decimal](18, 0) NOT NULL,
	[CurrentBalance] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_AccountID] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACCOUNT_TYPES]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT_TYPES](
	[AccountTypeID] [int] NOT NULL,
	[AccountTypeDescription] [varchar](45) NULL,
 CONSTRAINT [PK_AccountType] PRIMARY KEY CLUSTERED 
(
	[AccountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[AddressID] [int] NOT NULL,
	[Street_POBox] [varchar](45) NOT NULL,
	[City] [varchar](45) NOT NULL,
	[StateSymbol] [char](2) NOT NULL,
	[ZipCode] [varchar](9) NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BANK]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANK](
	[BankID] [int] NOT NULL,
	[BankName] [varchar](45) NOT NULL,
	[PhoneNumbe] [char](10) NOT NULL,
	[AddressID] [int] NOT NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[BankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHECK_STATUS]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHECK_STATUS](
	[CheckStatusID] [int] NOT NULL,
	[StatusDescription] [varchar](45) NULL,
	[statusDescriptionID] [char](1) NULL,
 CONSTRAINT [PK_CheckStatus] PRIMARY KEY CLUSTERED 
(
	[CheckStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CheckNum]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckNum](
	[CheckNum] [int] NOT NULL,
 CONSTRAINT [PK_checkNum] PRIMARY KEY CLUSTERED 
(
	[CheckNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHECKS]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKS](
	[CheckID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[CheckNum] [int] NOT NULL,
	[CheckDate] [date] NOT NULL,
	[CheckStatusID] [int] NOT NULL,
	[TransactionID] [int] NOT NULL,
 CONSTRAINT [PK_CheckID] PRIMARY KEY CLUSTERED 
(
	[CheckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UIX_Account_CheckNum] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC,
	[CheckNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [int] NOT NULL,
	[CustomerFirstName] [varchar](25) NOT NULL,
	[CustomerLastName] [varchar](25) NOT NULL,
	[MailingAddressID] [int] NOT NULL,
	[SocialSecurityNumber] [char](9) NULL,
	[BirthDate] [date] NOT NULL,
	[DriversLicenseNumber] [varchar](12) NULL,
	[PhoneNumber] [char](10) NOT NULL,
	[CellNumber] [char](10) NULL,
	[CustomerSpouseName] [varchar](45) NOT NULL,
	[BankID] [int] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[History]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[TransactionID] [int] NOT NULL,
	[CurrentBalance] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSACTION_TYPE]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANSACTION_TYPE](
	[TransactionTypeID] [int] NOT NULL,
	[TransactionTypeDescription] [varchar](45) NOT NULL,
	[Withdrawal_Deposit] [char](1) NULL,
 CONSTRAINT [PK_TransactionType] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANSACTIONS]    Script Date: 1/12/2016 12:58:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANSACTIONS](
	[TransactionID] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[TransactionTypeID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Description_Comments] [varchar](45) NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_AccountType] FOREIGN KEY([AccountTypeID])
REFERENCES [dbo].[ACCOUNT_TYPES] ([AccountTypeID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_AccountType]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_CustomerID]
GO
ALTER TABLE [dbo].[BANK]  WITH CHECK ADD  CONSTRAINT [FK_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[ADDRESS] ([AddressID])
GO
ALTER TABLE [dbo].[BANK] CHECK CONSTRAINT [FK_Address]
GO
ALTER TABLE [dbo].[CHECKS]  WITH CHECK ADD  CONSTRAINT [FK_AccountIDS] FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([AccountID])
GO
ALTER TABLE [dbo].[CHECKS] CHECK CONSTRAINT [FK_AccountIDS]
GO
ALTER TABLE [dbo].[CHECKS]  WITH CHECK ADD  CONSTRAINT [FK_CheckNum] FOREIGN KEY([CheckNum])
REFERENCES [dbo].[CheckNum] ([CheckNum])
GO
ALTER TABLE [dbo].[CHECKS] CHECK CONSTRAINT [FK_CheckNum]
GO
ALTER TABLE [dbo].[CHECKS]  WITH CHECK ADD  CONSTRAINT [FK_Transaction] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[TRANSACTIONS] ([TransactionID])
GO
ALTER TABLE [dbo].[CHECKS] CHECK CONSTRAINT [FK_Transaction]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_BankId] FOREIGN KEY([BankID])
REFERENCES [dbo].[BANK] ([BankID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_BankId]
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD  CONSTRAINT [FK_MailingAddress] FOREIGN KEY([MailingAddressID])
REFERENCES [dbo].[ADDRESS] ([AddressID])
GO
ALTER TABLE [dbo].[CUSTOMER] CHECK CONSTRAINT [FK_MailingAddress]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD FOREIGN KEY([TransactionID])
REFERENCES [dbo].[TRANSACTIONS] ([TransactionID])
GO
ALTER TABLE [dbo].[TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([AccountID])
GO
ALTER TABLE [dbo].[TRANSACTIONS] CHECK CONSTRAINT [FK_Account]
GO
ALTER TABLE [dbo].[TRANSACTIONS]  WITH CHECK ADD  CONSTRAINT [FK_TransactionType] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[TRANSACTION_TYPE] ([TransactionTypeID])
GO
ALTER TABLE [dbo].[TRANSACTIONS] CHECK CONSTRAINT [FK_TransactionType]
GO
ALTER TABLE [dbo].[TRANSACTION_TYPE]  WITH CHECK ADD  CONSTRAINT [Check_w_d] CHECK  (([Withdrawal_Deposit]='d' OR [Withdrawal_Deposit]='w'))
GO
ALTER TABLE [dbo].[TRANSACTION_TYPE] CHECK CONSTRAINT [Check_w_d]
GO
USE [master]
GO
